<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- bootsrap -->
    <%= stylesheet_link_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" %>
    <!-- font-awesome -->
    <%= stylesheet_link_tag "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- As a link -->
    <nav class="navbar navbar-light bg-light">
      <!-- <a class="navbar-brand" href="#">Wikinimous</a> -->
      <%= link_to "Wikinimous", root_path, class: 'navbar-brand' %>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to 'New Article', new_article_path %>
        </li>
      </ul>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">

          <%= yield %>

        </div>
      </div>
    </div>

  </body>
</html>
